<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-info collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Prototyping</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus "></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="display: block;">
                    <div class="row">
                        <div class="col">
                            <span><img src="/assets/icons/figma.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>