
form{
    font-size: .8rem;
}

.container{
    margin-top: 2.5rem;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 1px solid green;
}
  