<div class="card m-5 p-2" id="newDoctor">
    <header class="row">
        <section class="col">
            <div class="card">
                <div class="card-body">
                    <section class="row">
                        <div class="col-2">
                            <img class="w-100 rounded-circle img-thumbnail"
                                src="../assets/professional/professional_11.jpg" alt="Profile">
                        </div>
                        <div class="col">
                            <h1 class="display-6" style="color: red;">Welcome, Strange</h1>
                            <hr class="mb-5" />
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </header>

    <div class="card-body">
        <form action="" enctype="" method="" id="formDoctor">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="doctorName" placeholder="Jane">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="doctorName" placeholder="Jane">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="doctorCPF" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="doctorCPF" placeholder="123.456.569-99">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="doctorSexo" class="form-label">Sex</label>
                            <select class="form-select" aria-label="Sex" style="color: red;">
                                <option selected>Sex</option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                                <option value="2">Other</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorPhone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="doctorPhone" placeholder="(49) 98855-9685">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorBirthdate" class="form-label">Birthdate</label>
                                <input type="text" class="form-control" id="doctorBirthdate" placeholder="00/00/0000">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorEmail" class="form-label">Email</label>
                                <input type="text" class="form-control" id="doctorEmail"
                                    placeholder="something@thing.com.br">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorMother" class="form-label">Mother's name</label>
                                <input type="text" class="form-control" id="doctorMother" placeholder="Jane's Mother">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorFather" class="form-label">Father's name</label>
                                <input type="text" class="form-control" id="doctorFather" placeholder="Jane's Father">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorCep" class="form-label">CEP</label>
                                <input type="text" class="form-control" id="doctorCep" placeholder="00000-000">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="doctorCity" placeholder="city name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorStreet" class="form-label">Street Address</label>
                                <input type="text" class="form-control" id="doctorStreet"
                                    placeholder="Street Somewhere">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorNumberAddress" class="form-label">Number</label>
                                <input type="text" class="form-control" id="doctorNumberAddress" placeholder="000">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorState" class="form-label">State</label>
                                <input type="text" class="form-control" id="doctorState" placeholder="SS">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorCountry" class="form-label">Country</label>
                                <input type="text" class="form-control" id="doctorCountry" placeholder="CC">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorCrm" class="form-label">CRM</label>
                                <input type="text" class="form-control" id="doctorCrm" placeholder="CRM000000">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorSpecialty" class="form-label">Specialty</label>
                                <input type="text" class="form-control" id="doctorSpecialty" placeholder="specialty">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorInitialShift" class="form-label">Initial Shift</label>
                                <input type="text" class="form-control" id="doctorInitialShift" placeholder="shift">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="doctorFinalShift" class="form-label">Final Shift</label>
                                <input type="text" class="form-control" id="doctorFinalShift" placeholder="shift">
                            </div>
                        </div>
                        <div class="col">
                            <label for="doctorPicture" class="form-label">Picture</label>
                            <input class="form-control" type="file" id="doctorPicture" placeholder="Choose file">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center gap-1">
                    <!-- <button type="submit" class="mx-1 btn btn-primary" id="updateDoctor" (click)="newDoctor()">Update</button> -->
                    <button type="submit" class="mx-1 btn btn-primary" id="newDoctor">SAVE</button>
                    <button type="reset" class="mx-1 btn btn-outline-danger">RESET</button>
                </div>
            </div>
        </form>
    </div>
</div>	