a {
    color: white;
}

.logo-menu {
    width: 30%;
    height: 50%;
}

li {
    padding: 3px;
}

button {
    background-color: #345B70;
    color: white;
}

.navbar {
    background-color: #4488BB;
    height: 3rem;
    font-size: 1em;
    padding: .2rem;
}

.language-flag {
    height: 40px;
}

.dropdown-menu {
    background-color: #4488BB;
}