
<section id="technologies">
    <div class="container-fluid container-about text-center">
        <h2>Technologies used</h2>
        <div class="row">
            <div class="col">
                <app-technologies-prototyping></app-technologies-prototyping>
            </div>
            <div class="col">
                <app-technologies-front-end></app-technologies-front-end>
            </div>
            <div class="col">
                <app-technologies-back-end></app-technologies-back-end>
            </div>
            <div class="col">
                <app-technologies-ide></app-technologies-ide>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-technologies-database></app-technologies-database>
            </div>
            <div class="col">
                <app-technologies-documentation></app-technologies-documentation>
            </div>
            <div class="col">
                <app-technologies-versioning></app-technologies-versioning>
            </div>
            <div class="col">
                <app-technologies-management></app-technologies-management>
            </div>
        </div>
    </div>
</section>
