<div class="container mt-5 register-container">
  <div class="row">
    <div class="col-7 register-form">
      <div class="d-flex justify-content-center">
        <!-- <div class="brand_logo_container">
          <img src="../assets/logos/logo_1.png" class="brand_logo rounded-circle"  alt="Logo">
        </div> -->
      </div>
      <div class="d-flex justify-content-center form_container">
        <app-register-patient-form></app-register-patient-form>
      </div>
    </div>
    <div class="col sos  g-0 h-100">
      <div class="col"> <img src="../assets/background/background_6.jpg" class="img-fluid" id="register-patient" alt="">
      </div>
    </div>
  </div>