.register-container{
    position: fixed;
}

#register-patient {
    max-height: 100vh;
    min-height: 100vh;
    background-repeat: initial;
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
}

.row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: var(--bs-gutter-y);
}

.container {
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    max-height: 1.130.340px;
    min-height: 1.130.340px;
    min-width: 100%;
}

.register-form {
    background-image: url(/assets/background/background_7.png);
    max-height: 100vh;
    min-height: 100vh;
    background-repeat: repeat;
    background-size: contain;
}

.brand_logo_container {
    text-align: center;
}

.brand_logo {
    margin-top: 3.2rem;
    height: 25vh;
    border: 2px solid white;
}

.form_container {
    font-size: 1.6em;
    padding: 2rem;
}

.btn {
    margin-top: 0 !important;
    width: 100%;
    background: #4488bb !important;
    color: white !important;
    font-size: 0.6em;
}

.btn:hover {
    box-shadow: none !important;
    outline: 0px !important;
}


p {
    margin-top: 1rem;
    font-size: 0.6em;
}

form>div {
    margin: 0.1rem;
}

#name-father {
    width: 118%;
}



.sos{
    background-image: url(/assets/background/background_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    min-height: 100vh;
}
