<div class="container-fluid profile">
  <div class="row">
    <div class="col-md">
      <div class="card card-widget widget-user shadow">
        <div class="widget-user-header bg-info">
          <h2 class="widget-user-username">Hello Ademiro</h2>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="../assets/admin/admin_3.jpg" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Professional
                  </button>
                  <ul class="dropdown-menu">
                   <app-register-professional></app-register-professional>
                    <li><a class="dropdown-item">Edit Professional</a></li>
                    <li><a class="dropdown-item" href="#">List Professionals</a></li>
                    <li><a class="dropdown-item" href="#">Update Professional</a></li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Admin
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Add new Admin</a></li>
                    <li><a class="dropdown-item" href="#">List Admins</a></li>
                    <li><a class="dropdown-item" href="#">Update Admin</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Data cards -->
<div class="container-fluid">
  <div class="card-dashboard">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
          <span class="info-box-icon"><i class="fa fa-calendar-check"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Appointments</span>
            <span class="info-box-number">35</span>
            <small>
              Last 7 days
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-success">
          <span class="info-box-icon"><i class="fa fa-user-group"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Patients</span>
            <span class="info-box-number">350</span>
            <small>
              Last 30 days
            </small>
          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-warning">
          <span class="info-box-icon"><i class="fa fa-stethoscope"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Professionals</span>
            <span class="info-box-number">196</span>
            <small>
              Last 30 days
            </small>
          </div>

        </div>

      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-danger">
          <span class="info-box-icon"><i class="fa-solid fa-lock"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Admins</span>
            <span class="info-box-number">39</span>
            <small>
              Last 7 days
            </small>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>