.profile{
  margin-top: 4rem;
}

.btn-primary{
  background-color: #4488bb !important;
  border: none;
}

.bg-info{
  background-color: #6EC2F0 !important;
}


.bg-gradient-success{
  background-color: aliceblue !important;
}

.info-box-number{
  font-size: 2em !important;
}



