<section id="main">
    <div class="container main">
        <div class="title">
            <div class="container mt-5">
                <div class="row">
                    <img src="../assets/background/background_5.png" id="login-doctor" alt="">
                </div>
            </div>
            <div>
                <h1>Aesculapius Scheduling Center</h1>
                <div class="txt text-center">Schedule your appointments when you need, with the professionals you trust!
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container-fluid container-about text-center">
        <h2>Aesculapius Scheduling Center</h2>
        <div class="row">
            <div class="col">
                <div class="p-5">
                    The initiative is to facilitate the scheduling of medical appointments with professionals from
                    different areas of health. There are initially three profiles, the Patient, the Doctor - which can
                    be any healthcare professional - and the Admin. To use the program, simply register, informing
                    common data such as name, CPF (for the health professional, the CRM, CRE, CRO or CRP number for
                    example), address for example. Patients will be able to search for which doctor will be available at
                    the time they need it, they will be able to see their own appointments, change their dates and
                    times, change professionals or even cancel an appointment. The doctor, on the other hand, will be
                    able to share available times and days for patient care, view their appointments for the day and
                    cancel a pre-booked appointment.
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <img class="logo rounded-circle" src="../assets/logos/logo_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-video></app-video> -->

<app-technologies-section></app-technologies-section>

<app-team></app-team>