<div class="container-fluid patient-top">
    <div class="row">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a routerLink="home-patient">Home</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <!-- <app-search-professional></app-search-professional> -->
        </div>
    </div>
</div>

<!-- carousel primeng -->
<div class="container-fluid mt-5">
    <div class="card professional-card">
        <p-carousel [value]="professionals" styleClass="custom-carousel" [numVisible]="8" [numScroll]="1"
            [circular]="true" [responsiveOptions]="responsiveOptions" [style]={}>
            <ng-template let-professionals pTemplate="item">
                <div class="item card text-center">
                    <!-- <img src="{{professionals.imageUrl}}" class="card-img-top professional" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">{{professionals.name}}</h5>
                        <p class="card-text">{{professionals.specialty}}</p>
                        <div class="details">
                            <div class="row">
                                <!-- <div class="col text">
                                        <star-rating [value]="professionals.stars" [totalstars]="5"
                                            checkedcolor="#345B70" uncheckedcolor="gray" size="18px" [readonly]="true">
                                        </star-rating>
                                    </div> -->
                                <!-- <div class="col text-end">
                                    <span class=" btn favorite{{professionals.favorite?'':'not'}}"> <i
                                            class="fa fa-heart"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<!-- specialties cards -->
<div class="container-fluid">
    <div class="row">
        <h2>Specialties</h2>
        <div class="col-lg-3" *ngFor="let specialty of specialties">
            <div class="card card-margin">
                <div class="card-body pt-0">
                    <div class="specialty-section">
                        <div class="specialty-section-title-wrapper">
                            <div class="specialty-section-date-primary">
                                <span class="specialty-section-date-day">
                                    <div class="widgets-icons-2 rounded-circle text-white ms-auto">
                                        <img src="{{specialty.iconUrl}}" alt="">
                                    </div>
                                </span>
                            </div>
                            <div class="specialty-title">
                                <span class="card-title">{{specialty.title}}</span>
                            </div>
                        </div>
                        <ol class="specialty-description">
                            <p>{{specialty.description}}</p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-appointment-btn></app-add-appointment-btn>
<app-add-appointment-modal></app-add-appointment-modal>